<h1 mat-dialog-title>Detalle de venta</h1>

<mat-dialog-content>
  <h4>Cliente</h4>

  <mat-form-field appearance="outline">
    <mat-label>Nombres</mat-label>
    <input matInput placeholder="Nombres" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Apellidos</mat-label>
    <input matInput placeholder="Apellidos" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>DNI</mat-label>
    <input matInput placeholder="DNI" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Teléfono</mat-label>
    <input matInput placeholder="Teléfono" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" />
  </mat-form-field>

  <!-- Products table -->
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Producto">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="PrecioUnitario">
        <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>

      <ng-container matColumnDef="Subtotal">
        <th mat-header-cell *matHeaderCellDef>SubTotal</th>
        <td mat-cell *matCellDef="let element">{{ element.total }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of sale elements"
    >
    </mat-paginator>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Fecha</mat-label>
    <input matInput placeholder="Fecha" />
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button mat-primary (click)="close()">Volver</button>
</div>
